*{
    box-sizing: border-box;
    transition: all 0.3s ease;
}
body {
    display: grid;
    grid-template-columns:  minmax(60px,1fr) minmax(auto,1180px) minmax(60px,1fr);
    margin: 0;   
    gap: 20px;
}
body > * {
    grid-column: 2;
}   
h1 {
    font-size: 4em;
    color: white;
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #7c7251;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    background-color: #fce38a;
    color: #462d2b;
    padding: 30px 90px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
nav a {
    text-decoration: none;
}
.resetPrefs{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: #333333;
    cursor: pointer;
    border-radius: 8px;
    padding: .5em;
}
img{
    display: block;
    margin: auto;
    width: 40%; 
    border-radius: 12px;
    border: box-shadow 0 4px 8px rgba(0, 0, 0, 0.2);
}