*{
    box-sizing: border-box;
    transition: all 0.3s ease;

}
html{
    margin: 1vw;

}
body {
    display: grid;
    grid-template-columns:  minmax(60px,1fr) minmax(auto,1180px) minmax(60px,1fr);
    margin: 0;   
    gap: 20px;
}

body > * {
    grid-column: 2;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
