.nav-bar{
    display: grid;
    font-size: 2em;
    grid-auto-flow: column;
    place-items: center;
    margin:1em 0;
    background-color: aqua;
    border-radius: 10px;
    padding: 0.5em;
}
.nav-bar a{
    color: black;
    text-decoration: none;
}