.nav-bar {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  font-size: 1.5em;
  margin: 1.5em 0;
  background-color: #00d1d1;
  border-radius: 12px;
  padding: 0.5em 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-bar a {
  color: black;
  text-decoration: none;
  margin: 0 1em;
}

.nav-bar a:hover {
  color: #444;
  transform: scale(1.05);
}

.main-content input[type="email"],
.main-content input[type="range"],
.main-content input[type="color"] {
  width: 30%;
  padding: 0.6em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  background-color: #f9f9f9;
}
.main-content input[type="range"] {
  accent-color: #00bcd4;
  height: 2em;
}
.main-content button{
  padding: 0.7em 1.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: #00bcd4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

