*{
    box-sizing: border-box;
    transition: all 0.3s ease;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fffdf7;
    margin: 0;
    padding: 20px;
    height: 94vh;
    display: grid;
    place-items: center;
    gap: 20px;
    padding-top: 4em;
}
body > * {
    width: 100%;
    height: 100%;
    margin: auto;
}   

h1 {
    font-size: 4em;
    color: white;
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #7c7251;
    text-align: center;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    background-color: #fce38a;
    color: #462d2b;
    padding: 30px 90px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
nav a {
    text-decoration: none;
}
.resetPrefs{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    font-size: 1.5em;
    color: #444;
    cursor: pointer;
    border-radius: 8px;
    padding: .5em;
    opacity: 0.8;
}
img{
    display: block;
    margin: auto;
    width: 40%; 
    border-radius: 12px;
    border: box-shadow 0 4px 8px rgba(0, 0, 0, 0.2);
}