/* for mobile */
@media (max-width:600px) {

body {
    display: grid;
    grid-template-columns:  1fr;
    margin: 0;   
    gap: 10px;
}
body > * {
    grid-column: 1;
}
.resetPrefs{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2em;
    color: #333333;
    cursor: pointer;
    border-radius: 8px;
    padding: .5em;
}
    
}